name = "baykus"
main = "src/index.ts"
compatibility_date = "2025-11-07"

[durable_objects]
bindings = [
  { name = "ROOM", class_name = "Room" },
  { name = "USER_SESSION", class_name = "UserSessionDurableObject" },
  { name = "CHAT_ROOM", class_name = "ChatRoomDurableObject" },
  { name = "NOTIFICATION", class_name = "NotificationDurableObject" },
  { name = "PRIVATE_CHAT", class_name = "PrivateChatDurableObject" },
  { name = "USER_METADATA", class_name = "UserMetadataDurableObject" },
  { name = "USER_STATUS", class_name = "UserStatusDurableObject" },
  { name = "RATE_LIMIT", class_name = "RateLimitDurableObject" }
]

[[migrations]]
tag = "v1"
new_classes = ["Room"]

[[migrations]]
tag = "v2"
new_classes = [
  "UserSessionDurableObject",
  "ChatRoomDurableObject",
  "NotificationDurableObject",
  "PrivateChatDurableObject",
  "UserMetadataDurableObject",
  "UserStatusDurableObject",
  "RateLimitDurableObject"
]
[observability]
enabled = true